body{
  background-color: rgb(24, 24, 24);
  color: white
}

h1 {
  color: purple; /* Set h1 color to purple */
}

ul {
  color: white;
}

.container {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  padding: 20px; /* Add some padding for better readability */
}



.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}


.score-label {
  display: flex /* Adds space between the label and score */ 
}

.rank-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rank-button:hover {
  background-color: rgb(99, 45, 100);
}



/* Styles for the selection buttons */ 
.instrument-section-list {
  margin-bottom: 20px;
}

.instrument-section-list button {
  background-color: #8a349f;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #8a349f
}

.instrument-section-list button:hover {
  background-color: #8a349f;
  border: white; 
  color:  white;
  border: 2px solid #4CAF50;
}
/* Styles for student list */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-list-container {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.student-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.student-item {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.student-item.selected {
  background-color: #e907d2;
  border-color: #aaa;
}




.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-label {
  margin-right: 10px;
}

button {
  margin: 5px;
}

.rank-button {
  margin-top: 20px;
}

/* Styles for the Student Table in the Audition Data Page */

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(128, 0, 128, 0.5); /* Purple transparent background */
}

.student-table thead tr {
  background-color: rgba(128, 0, 128, 0.7); /* Darker purple for header */
  color: white;
  text-align: left;
  font-weight: bold;
}

.student-table th, .student-table td {
  padding: 12px 15px;
  border: 1px solid black; /* White borders */
}

.student-table tbody tr {
  border-bottom: 1px solid white;
}

.student-table tbody tr:last-of-type {
  border-bottom: 2px solid rgba(128, 0, 128, 0.7);
}