body{
  background-color: rgb(24, 24, 24);
}

.container {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  padding: 20px; /* Add some padding for better readability */
}

.input-field {
  margin-bottom: 10px;
  padding: 5px;
  width: 50%;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}



.score-label {
  display: flex /* Adds space between the label and score */ 
}

.rank-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rank-button:hover {
  background-color: rgb(99, 45, 100);
}

h1 {
  color: purple; /* Set h1 color to purple */
}

ul {
  color: white;
}

/* Styles for student list */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-list-container {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.student-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.student-item {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.student-item.selected {
  background-color: #f0f0f0;
  border-color: #aaa;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-label {
  margin-right: 10px;
}

button {
  margin: 5px;
}

.rank-button {
  margin-top: 20px;
}